.lista-categorias {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.categoria-card {
  background-color: var(--card-bgType2);
  border: none;
  width: 100%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* Estilo das imagens dos botões de benefícios */
.categoria-imagem {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Garante que a imagem preencha o espaço sem amassar */
  border-radius: 30px; /* Bordas bem arredondadas como no print */
  /*box-shadow: 0 4px 10px rgba(0,0,0,0.1); */ /* Sombra suave */
  margin-bottom: -15px; /* Esse é o truque que puxa o texto azul para cima da imagem */
  z-index: 1;
  background-color: var(--card-bgType2);
}

/* Um brilhozinho ao clicar na imagem inteira */
.categoria-card:active .categoria-imagem {
  transform: scale(0.95);
  transition: transform 0.1s;
}

.categoria-card span {
  color: var(--inss-blue);
  font-weight: 900;
  text-align: center;
  font-size: 14px;
  z-index: 2;
  background-color: var(--card-bgtype2);
  padding: 0 10px;
}

.divisor {
  border: none;
  border-top: 2px solid var(--border-color);
  margin: 40px 0;
}